.root {
}

.button_container {
  margin: 0 60px;
  text-align: center;
}
.error {
  color: red;
  position: absolute;
  bottom: 22%;
  left: 13%;
}
.success {
  color: #fff;
  position: absolute;
  bottom: 22%;
  left: 13%;
}
