.root {
    padding: 24px 0;
}

.bioBtn {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.bioContainer {
    margin: 0 auto;

}

.bioImage {
    display: flex;
    justify-content: center;
}