.root {
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

.btnWrap {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.imgWrap {
  padding: 12px 0;
  text-align: center;
}
.heading {
  &:hover {
    .anchorLink {
      opacity: 1;
    }
  }
}
.anchorLink {
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: 0.75em;
  height: 0.75em;
}
